@font-face {
	font-family: 'cubano';
	src: url(fonts/Cubano-Regular.otf);
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(50, 50, 50);
  background-image: url(img/grid_03.jpg);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	font-family: 'cubano';
	font-size: calc(3rem + 7vw);
	color: goldenrod;
	text-shadow: 2px 2px 0px black;
	margin: 0;
}

h2 {
  margin-top: 0;
  padding: 1rem;
  font-family: 'cubano';
  font-size: 2rem;
  color: black;
  background-color: goldenrod;
  display: inline-block;
  border-radius: 5px;
}

p {
	font-size: 0.9rem;
}

/* ********** */
/* DRY STYLES */
/* ********** */

.section-padding {
	margin: 0;
	padding: 2rem 1rem;
}

/* ********** */
/* NAVIGATION */
/* ********** */

#menu-btn {
	height: 50px;
	width: 50px;
	position: fixed;
	top: 15px;
	right: 15px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	transition: all 0.5s ease-in-out;

	cursor: pointer;
	z-index: 100;
}

#menu-btn__brgr {
	height: 5px;
	width: 30px;
	background-color: black;
	box-shadow: 1px 1px 0 goldenrod;
	transition: all 0.2s ease-in-out;
}

#menu-btn__brgr::before,
#menu-btn__brgr::after {
	content: '';
	position: absolute;
	height: 5px;
	width: 30px;
	background-color: black;
	box-shadow: 1px 1px 0 goldenrod;
	transition: all 0.2s ease-in-out;
}

#menu-btn__brgr::before {
	transform: translateY(-8px);
}

#menu-btn__brgr::after {
	transform: translateY(8px);
}

/* BURGER ANIMATION */

#menu-btn.open #menu-btn__brgr {
	background-color: transparent;
	box-shadow: none;
}

#menu-btn.open #menu-btn__brgr::before {
	transform: rotate(45deg);
	box-shadow: none;
	background-color: goldenrod;
}

#menu-btn.open #menu-btn__brgr::after {
	transform: rotate(-45deg);
	box-shadow: none;
	background-color: goldenrod;
}

/* NAV MENU */

#menu {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 50px 0 100px;

	transform: scale(0, 1);
	transform-origin: right;
	opacity: 0;

	transition: opacity ease-in-out 0.3s, transform 0s 0.3s;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: space-between;
	z-index: 99;

	background: rgba(0, 0, 0, 0.9);
	-webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
	font-family: sans-serif;
}

#menu.open {
	transform: scale(1, 1);
	transition: all ease-in-out 0.2s;

	opacity: 1;
}

#menu a {
	font-family: 'cubano';
	text-decoration: none;
	color: goldenrod;
}

#menu a:hover {
	color: tomato;
}

#menu li {
	display: block;
	font-size: 2rem;
	text-align: center;
}

/* ****** */
/* HEADER */
/* ****** */

header {
	min-height: 500px;
	background-image: url('img/arrow.jpg');
	background-attachment: fixed;
	background-position: bottom;
	background-size: cover;
}

#bio-section {
	margin: 0;
	padding: 1rem;
  background-color: goldenrod;
	border-radius: 15px;
	width: 300px;
	float: right;

	font-family: monospace;
}

#contact {
  margin: 0;
	padding: 1rem;
  background-color: goldenrod;
	border-radius: 15px;
	width: 200px;
  position: absolute;
  bottom: 5%;
  right: 4rem;

  display: flex;
  flex-wrap: wrap;
  justify-items: space-around;
}

#contact li {
  width: 40%;
  margin: 5%;
  text-align: center;
  font-family: monospace;
  line-height: 0;
}

#contact li a {
  text-decoration: none;
  color: black;
}

#contact li img {
  width: 100%;
}

/* ******** */
/* Projects */
/* ******** */

#project-section {
	z-index: 0;
	padding-bottom: 50px;
}

#projects {
	margin: 0 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 3rem;
	align-items: center;
	justify-content: space-around;
}

.project {
	position: relative;
	height: 100%;
}

.project-title {
	font-size: 2rem;
	font-family: 'cubano';
	text-align: center;
	color: goldenrod;
	background-color: rgba(0, 0, 0, 0.8);
	transition: ease-in-out 0.2s;

	position: absolute;
	top: 0;
	left: 0;
	height: 99%;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.project-title:hover {
	opacity: 0;
}

.description {
	width: 100%;
	height: 50px;
	background-color: black;
	color: white;
	position: absolute;
	bottom: 5px;
	transition: ease-in-out 0.3s 0.1s;
	z-index: -1;
	margin: 0;
}

/* ********* */
/* Reference */
/* ********* */

#reference-section {
	margin: 0;
	padding: 1rem;
	background-color: goldenrod;
  border-radius: 15px;
  font-family: monospace;
	width: 90%;
	float: left;
}

/* ****** */
/* Images */
/* ****** */

.project-img {
	width: 100%;
}

/* ******** */
/* Clearfix */
/* ******** */

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}
